//
//  Development.xcconfig
//  eduVPN
//
//  Created by Jeroen Leenarts on 08/01/2019.
//  Copyright © 2019 SURFNet. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-EduVPN/Pods-EduVPN.debug.xcconfig"
#include "Developer.xcconfig"
#include "AppVersion.xcconfig"
