//
//  Development-TunnelExtension.xcconfig
//  eduVPN
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-OpenVPNTunnelExtension-iOS/Pods-OpenVPNTunnelExtension-iOS.debug.xcconfig"
#include "Developer.xcconfig"
#include "AppVersion.xcconfig"
