// Developer.xcconfig

APP_NAME = <app-name>

// Your Apple developer account's Team ID
DEVELOPMENT_TEAM = <team-id>

// The bundle identifier of this app.
// Should be an app id created at developer.apple.com
// with Network Extensions capabilty.
APP_ID = <app-id>

// The identifier for the group id to use
GROUP_ID = <group-id>
