//
//  Development-TunnelExtension.xcconfig
//  eduVPN
//
//  Created by Jeroen Leenarts on 08/01/2019.
//  Copyright © 2020 SURFNet. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-EduVPNTunnelExtension-macOS/Pods-EduVPNTunnelExtension-macOS.debug.xcconfig"
#include "Developer-macOS.xcconfig"
#include "AppVersion-macOS.xcconfig"
